<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title>{{ page.title }}</title>
    <!-- meta信息 -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="freestyle21" />
    <meta name="keywords" content="前端，前端技术，博客,freestyle21，javascript，html，css，FE">
    <meta name="description" content="freestyle21' blog.主要记录技术和心路成长历程，这里有有关于html,css,javascript,html5,css3,node,seajs等的内容。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <!-- 样式文件 -->
    <!-- <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"> -->
    <!-- <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection"> -->
    <link rel="alternate" type="application/rss+xml" title="freestyle21的博客 RSS Feed" href="/rss/feed.xml">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 480px)" href="/css/phone.css" /> -->

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- 脚本文件 -->
    <script src="/js/libs/modernizr-2.5.3.min.js"></script>
    <script type="text/javascript" src='/js/jquery.js'></script>
    <!--[if IE]> 
    <script> 
      document.createElement("header"); 
      document.createElement("footer"); 
      document.createElement("nav"); 
      document.createElement("article"); 
      document.createElement("section"); 
    </script> 
    <![endif]--> 
    <!--[if lt IE 9]><script src=" http://html5shiv.googlecode.com/svn/trunk/html5.js "></script ><![endif]--> 
    <script type="text/javascript">

        //流量跟踪代码。
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39513595-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body id="{{ page.body_id }}" class="about">
  <!--[if lt IE 9]>
    <div class="chromeframe">
        <p>您的浏览器已经过时了，为了更好的浏览体验，请下载<a href = 'http://www.google.co.kr/intl/zh-CN/chrome/browser/'>chrome</a>或<a href = 'http://www.mozilla.org/en-US/firefox/new/' >firefox</a>浏览器 ~ ~ </p>
    </div>
  <![endif]--> 
    {{ content }}
  </body>
</html>
